!!! 5
%html
  %head
    %title
      DaySheet
      == - #{controller.controller_name.titleize}
    - ['daysheet-theme/jquery-ui-1.8.6.custom'].each do |css|
      %link{ :href => "/stylesheets/#{css}.css", :rel => "stylesheet", :type => "text/css", :media => "screen", :charset => "utf-8" }
    = stylesheet_link_tag "screen"#, :cache => "cache/all"
    %style= yield :styles
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" }
    - ['jquery-ui-1.8.6.custom.min','rails', 'jquery.validate.min', 'application'].each do |js|
      %script{:src => "/javascripts/#{js}.js", :type => 'text/javascript'}
    %script{:type => "text/javascript"}= yield :javascript

  %body.admin
    = render :partial => "layouts/admin/header"
    = render :partial => "layouts/admin/tabbed"
    = render :partial => "layouts/footer"
