= form_for @timesheet do |f|    
  .title_tools
    = return_to_link(t(:timesheets), timesheets_path)
  .title
    %span#timesheet_new_title #{t :new_timesheet}
  %fieldset
    = f.error_messages
    = f.hidden_field :user_id, :value => current_user.id
    .section
      .grid_3
        %p
          = f.label :start_date
          %br
          = f.text_field :start_date, :class => 'datepicker'
      .grid_3
        %p
          = f.label :stop_date
          %br
          = f.text_field :stop_date, :class => 'datepicker'
      .clear
  .buttonbar
    = f.submit
    #{t :or}
    = link_to_cancel timesheets_path
